.results {
    padding: 80px 104px;
    /*width: 100%;*/
/*    display: flex;
    flex-direction: column;*/
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .results {
        padding: 40px;
    }
}

@media screen and (max-width: 480px) {
    .results {
        padding: 32px 16px;
    }
}