.result__text {
    margin: 0;
    padding: 16px 24px 0 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
    color: #1A1B22;
}

@media screen and (min-width: 481px) and (max-width: 960px) {
    .result__text {
        padding: 10px 16px 0 16px;
    }
}

@media screen and (max-width: 480px) {
    .result__text {
        padding: 8px 16px 0 16px;
    }
}