.table__header-scale {
    margin: 0 0 0 104px;
    padding: 16px 0 0 0;
    width: calc(100% - 104px);
    height: 20px;
    /*border: 1px solid navy;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .table__header-scale {
        display: none;
        margin: 0 0 0 80px;
        width: calc(100% - 80px);
    }
}