.search {
    width: 100%;
    height: 576px;
    background-position: center center;
    background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg);
    /*background-image: url("<% =require('./../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg') %>");*/
    background-size: cover;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .search {
        height: 400px;
    }
}

@media screen and (max-width: 480px) {
    .search {
        height: 536px;
    }
}