.technology__item {
    /*margin: 0 0 0 40px;*/
    margin: 0 0 0 40px;
    padding: 0;
    width: 120px;
    height: 153px;
    list-style-type: none;
    /*border: 1px solid red;*/
}

@media screen and (min-width: 1025px) {
    .technology__item:first-child {
        margin: 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .technology__item {
        margin: 0 0 0 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .technology__item {
        margin: 40px 0 0 0;
    }
}

@media screen and (max-width: 480px){
    .technology__item {
        margin: 32px 8px 0;
    }
}

