@import url('__copyright/footer__copyright.css');
@import url('__nav/footer__nav.css');
@import url('__links/footer__links.css');
@import url('__link-item/footer__link-item.css');
@import url('__link/footer__link.css');
@import url('__socials/footer__socials.css');
@import url('__social-item/footer__social-item.css');
@import url('__social-link/footer__social-link.css');
@import url('__social-icon/footer__social-icon.css');

.footer {
    margin: 0;
    padding: 28px 104px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid green;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .footer {
        padding: 28px 40px 25px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 20px 16px 22px;
    }
}