.result__date {
    margin: 0;
    /*margin: 20px 0 0 24px;*/
    padding: 20px 0 0 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /*display: flex;
    align-items: center;*/
    color: #B6BCBF;
}