.results-more {
    display: block;
    margin: 64px auto 0;
    width: 288px;
    height: 64px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 100px;
}


.results-more:hover {
    /*outline: none;*/
    /*background: #347eff;*/
    background: #e8e8e9;
    color: #1a1b22;
    border: none;
}

.results-more:focus {
    outline: none;
    background: #2a65cc;
    color: #fff;
    border: none;
}