.commits__swiper-arrow-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*border: 1px solid red;*/
    border-style: none;
    box-shadow: 0px 3px 10px rgba(14, 26, 57, 0.4);
    /*border: 2px solid hsla(0,0%,100%,.5);*/
    background-image: url(../../../images/slider-control-prev.png);
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    outline: none;
    transition: all 0.15s ease-out;
    box-sizing: border-box;
}

.commits__swiper-arrow-button:hover {
    /*box-shadow: 0px 3px 10px rgba(14, 26, 57, 0.3);*/
    transform: scale(1.1);
    border: none;
}

.commits__swiper-arrow-button:focus {
    outline: none;
}

.commits__swiper-arrow-button:active {
    box-shadow: none;
    /*border-style: none;*/
}

.commits__swiper-arrow-button.swiper-button-disabled {
    background-image: url(../../../images/slider-control-prev-disabled.png);
    box-shadow: none;
}

.commits__swiper-arrow-button.swiper-button-disabled:hover {
    box-shadow: none;
    transform: none;
}

.commits__swiper-arrow-button.swiper-button-disabled:focus {
    box-shadow: none;
}

.commits__swiper-arrow-button:active {
    box-shadow: none;
}