.statistics__item {
    margin: 0;
    padding: 4px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

.statistics__item:first-child {
    padding: 0;
}