.commit__avatar {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

@media screen and (min-width: 481px) and (max-width: 960px) {
    .commit__avatar {
        width: 48px;
        height: 48px;
    }
}

@media screen and (max-width: 480px) {
    .commit__avatar {
        width: 48px;
        height: 48px;
    }    
}