.table__histogram {
    margin: 0;
    padding: 56px 0 0 0;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    /*box-sizing: border-box;*/
}

.table__histogram:first-child {
    padding: 0;
}

@media screen and (max-width: 480px) {
    .table__histogram {
        padding: 24px 0 0 0;
    }
}