@import url('__title/header__title.css');
@import url('__links/header__links.css');
@import url('__link/header__link.css');
@import url('__link/_current/header__link_current.css');
@import url('__title/_theme_light/header__title_theme_light.css');
@import url('__link/_theme_light/header__link_theme_light.css');



.header {
    /*margin: 104px 30px 101px 26px;*/
    /*padding: 30px 104px 26px 101px;*/
    padding: 0 104px 0 101px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid green;*/
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}


@media screen and (min-width: 481px) and (max-width: 960px) {
    .header {
        padding: 0 40px 0 42px;
        height: 64px;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .header {
        min-width: 280px;
        padding: 0 16px 0 14px;
        height: 56px;
        margin: 0;
    }
}