@import url('__swiper-arrows/commits__swiper-arrows.css');
@import url('__swiper-arrow-container/commits__swiper-arrow-container.css');
@import url('__swiper-arrow-container/_next/commits__swiper-arrow-container_next.css');
@import url('__swiper-arrow-container/_prev/commits__swiper-arrow-container_prev.css');
@import url('__swiper-arrow-button/commits__swiper-arrow-button.css');
@import url('__swiper-arrow-button/_next/commits__swiper-arrow-button_next.css');
@import url('__swiper-arrow-button/_prev/commits__swiper-arrow-button_prev.css');

.commits {
    /*margin: 0 auto;
    padding: 64px 0;*/
    width: 100%;
    margin: 0;
    padding: 64px 0 0 0;
    /*display: grid;*/

    /*grid-column-gap: 16px;*?
    /*gap: 16px;*/
    /*width: 80%;*/
    /*grid-template-columns: repeat(auto-fit, 400px);*/
    /*margin: auto;*/
    /*justify-content: center;*/
    position: relative;

}

@media screen and (min-width: 481px) and (max-width: 960px) {
    .commits-container {
        padding: 32px 0 0 0;
        grid-column-gap: 8px;
        grid-template-columns: repeat(auto-fit, 336px);
    }
}

@media screen and (max-width: 480px) {
    .commits-container {
        padding: 16px 0 0 0;
        grid-column-gap: 8px;
        grid-template-columns: repeat(auto-fit, 288px);
    }
}